
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.header{
    .navbar navbar-expand-lg bg-body-tertiary{
        background-image: linear-gradient(90deg, #FFFFC6 0%, #C6C690 35%, #d6bfe9 100%);
        .btn btn-outline-success{
            color: #6c1baf;
        }
    }
    .logo{
        margin-right: auto;
        & img{
            height: 45px;
            width: auto;
            margin: auto;
                &:hover{
                    transform: scale(2,2);
                    transition: all 3s;
                    opacity: 0.1;
                }
        }
    } 
}

.estilobridgerton{
    background-image: linear-gradient(90deg, #FFFFC6 0%, #C6C690 35%, #d6bfe9 100%);
    position: relative;
    display: grid;
    justify-content: left;
    align-items: center;
    .textobri{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 150%;
        text-align: center;
    }
        .fondoprincipal{
            width: 95%;
            height: auto;
            border-radius: 10px;
            transition: all 3s;
            align-items: center;
                &:hover{
                    width: 100%;
                    height: auto;
                }
        }
}

.argumento1{
    background-image: linear-gradient(90deg, #FFFFC6 0%, #C6C690 35%, #d6bfe9 100%);
    font-size: 150%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(197, 33, 202);
        h2{
            color: rgb(113, 7, 184);
            text-decoration: underline;
        }
}

.spotify{
    background-image: linear-gradient(90deg, #FFFFC6 0%, #C6C690 35%, #d6bfe9 100%);
        h3{
            color: rgb(43, 185, 114);
        }
}

.enlacesfooter{
    position: relative;
    width: 100%;
    padding: 50px;
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    background-image: linear-gradient(90deg, #FFFFC6 0%, #C6C690 35%, #d6bfe9 100%);
    .footerlista{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
            .netflixlogo{
                width: 50px;
                height: 50px;
                &:hover{
                transform: scale(2,2);
                transition: all 3s;
                }
            }
            .logoinsta{
                width: 50px;
                height: 50px;
                &:hover{
                    transform: scale(2,2);
                    transition: all 3s;
                }
            }
            .logoyoutube{
                width: 100px;
                height: 50px;
                &:hover{
                    transform: scale(2,2);
                    transition: all 3s;
            }
        }
    }
}

.paginacontacto{
    background-image: linear-gradient(90deg, #FFFFC6 0%, #C6C690 35%, #d6bfe9 100%);
        .titulocontacto{
            color: #6c1baf;
            &:hover{
                color: #d6bfe9;
                transition: all 3s;
        }
    }
}

@keyframes titulolibro {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.bodylibros{
    background-image: linear-gradient(90deg, #FFFFC6 0%, #C6C690 35%, #d6bfe9 100%);
    .librostitulo{
        color: #6c1baf;
        animation-name: titulolibro;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        }
    
    .libros{
        border-radius: 30px;
        width: 100%;
        background-image: linear-gradient(90deg, #FFFFC6 0%, #C6C690 35%, #d6bfe9 100%);
            &:hover{
                transform: scale(1.1);
                transition: all 2s;
            }
    }
    .parrafolibros{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}
        /*temporadas*/

.bodytemporadas{
    background-image: linear-gradient(90deg, #FFFFC6 0%, #C6C690 35%, #d6bfe9 100%);
    .titulotemporadas{
        color: #e328ba;
        text-align: center;
        text-decoration: underline;
            p{
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: medium;
            }
        }
    .subtitulotemporadas{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #e328ba;
        text-align: center;
        }
    .temporadasdelaserie{
        .temporada1{
            width: 350px;
            height: 180px;
            border-radius: 50px;
            cursor: pointer;
        }
        }
        .temporada2{
            width: 250px;
            height: 320px;
            border-radius: 50px;
            cursor: pointer;
        }
        .temporada3{
            width: 250px;
            height: 300px;
            border-radius: 50px;
            cursor: pointer;
        }
        .queencharlote{
            width: 250px;
            height: 300px;
            border-radius: 50px;
            cursor: pointer;
        }
    }

    /*responsive personajes y libros*/
    @media only screen and (max-width: 500px){
        .bodypersonajes {
            grid-template-columns: 1 100px;
            grid-template-rows: repeat(3 100px);
            background-color: #f3e7f5;
            align-items: center;
            }
        .titulopersonajes{
            text-align: center;
        }
        .header{
            align-items: center;
        }
        .librostitulo{
            text-align: center;
        }
        .libros{
            width: 200px;
            height: 100px;
        }
        .bodylibros{
            justify-content: center;
        }
        .navlibros{
            justify-content: center;
        }
        .container{
            grid-template-columns: 1 100px;
            grid-template-rows: repeat(6 100px);
            background-color: #f3e7f5;
            align-items: center;
        }  
        .cajapersonajes{
            grid-template-columns: 1 100px;
            grid-template-rows: repeat(6 100px);
        }
        .logolady{
            width: 50px;
            height: 50px;
        }
        .fondoprincipal{
            display: none;
        }
        .textobri{
            text-align: center;
            font-size: larger;
        }
    }



/*imagenes Personajes*/

/*variables*/
$width-large: 250px;
$width-medium: 220px;
$width-small: 200px;
$width-xsmall: 150px;

$height-large: 250px;
$height-medium: 200px;

/*anidamiento de selectores*/

.logolady,
.logoladydanbury {
    width: $width-large;
    height: $height-large;
}
.logoreina {
    width: $width-small;
    height: $height-large;
}

.logoantony,
.logopen {
    width: $width-medium;
    height: $height-large;
}

.logoeloise,
.logodaphne,
.logosimon,
.logomarina {
    width: $width-small;
    height: $height-medium;
}

.logokat {
    width: $width-xsmall;
    height: $height-medium;
}

.bodypersonajes{
    background-image: linear-gradient(90deg, #FFFFC6 0%, #C6C690 35%, #d6bfe9 100%);
    .titulopersonajes{
        color: #e328ba;
        text-align: center;
        text-decoration: underline;
        background-color: antiquewhite;
    }
}
/*responsive contacto*/
@media only screen and (max-width: 500px){
    .paginacontacto {
        grid-template-columns: 1 100px;
        grid-template-rows: repeat(3 100px);
        background-color: #f3e7f5;
        align-items: center;
        .header{
            justify-content: center;
        .navlibros{
            justify-content: center;
            .ul{
            .nav-links{
                justify-content: center;
            }
            }
            }
        }
    }   
}

/*responsive temporadas*/
@media only screen and (max-width: 500px){
    .bodytemporadas {
        grid-template-columns: 1 100px;
        grid-template-rows: repeat(3 100px);
        background-color: #f3e7f5;
        align-items: center;
        .temporadas{
            justify-content: center;
        .navlibros{
            justify-content: center;
            .ul{
            .nav-links{
                justify-content: center;
            }
            }
            }
        }
        .temporadasdelaserie{
        grid-template-columns: 1 50px;
        grid-template-rows: repeat(3 100px);
        background-color: #f3e7f5;
        align-items: center;
            .temporada1{
                width: 120%;
                height: 70%;
            }
            .temporada2{
                width: 120%;
                height: 70%;
            }
            .temporada3{
                width: 120%;
                height: 70%;
            }
            .queencharlote{
                width: 120%;
                height: 70%;
            }
        }
    }   
}

/*responsive INDEX*/

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        .logo {
        margin-bottom: 2rem;
        width: 10%;
        height: 20%;
        margin-left: 0px;
        }
        .menu-icon {
        display: flex;
        }
        .nav {
            display: flex;
        .nav-links {
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
            .li {
            margin: 0.5rem 0;
            }
        }
    }
        .btn {
        margin-top: 1rem;  
        .button {
            width: 50%;
        }
    }

        .menu-toggle:checked ~ nav .nav-links {
        display: flex;
        }
    }
}