/*FontFamily*/
@font-face {
    font-family: "Montserrat", sans-serif;
    src: url( {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    })
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

/*Media queri para Mobile pagina personajes y libros*/

@media only screen and (max-width: 500px) {
    .bodypersonajes {
        grid-template-columns: 1 100px;
        grid-template-rows: repeat(3 100px);
        background-color: #f3e7f5;
        align-items: center;
        }
    .titulopersonajes{
        text-align: center;
    }
    .header{
        align-items: center;
    }
    .librostitulo{
        text-align: center;
    }
    .libros{
        width: 200px;
        height: 100px;
    }
    .bodylibros{
        justify-content: center;
    }
    .navlibros{
        justify-content: center;
    }
    .container{
        grid-template-columns: 1 100px;
        grid-template-rows: repeat(6 100px);
        background-color: #f3e7f5;
        align-items: center;
    }  
    .cajapersonajes{
        grid-template-columns: 1 100px;
        grid-template-rows: repeat(6 100px);
    }
    .logolady{
        width: 50px;
        height: 50px;
    }
    .fondoprincipal{
        display: none;
    }
    .textobri{
        text-align: center;
        font-size: larger;
    }
    }


/*estilos de la barra de navegacion*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 105px;
    padding: 5px 10%;
}

.header logo{
    cursor: pointer;
}
.header .logo img{
    height: 55px;
    width: auto;
    transition: all 0.1s;
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links a{
    font-size: 700;
    color: darkgreen;
    text-decoration: none;
}

.header .nav-links li:hover{
    transform: scale(1.2);
}

.nav-links li:hover{
    transform: scale(1.2);
}

.nav-links{
    display: flex;
    padding: 0 20px;
    background-color: antiquewhite;
    list-style: none;
    justify-content: space-between;
}

.header .nav-links li a:hover{
    color: #e328ba;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .btn button{
    font-weight: 700;
    color: aqua;
    padding: 9px 25px;
    background-color: wheat;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease0s;
}

.header .btn button:hover{
    background-color: burlywood;
    color: brown;
    transform: scale(1.1);
}

.estilobridgerton{
    background-color: bisque;
    color: rgb(114, 116, 16);
}

/* Encabezados pagina principal*/

.img{
    width: 50%;
    image-orientation: from-image;
}

.p {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-align: center;
}

.footer{
    color: darkmagenta;
    
}
.footer .ul {
    list-style-type: none;
}

.enlacesfooter{
    padding: 50px;
    background-color: rgb(207, 224, 224);
    display: flex;
    margin-bottom: 40px;
}

.main{
    display: flex;
    padding: 20px;
}

.spotify{
    background-color: #98ceac;
    padding: 20px;
}

.argumento{
    font-family: "Montserrat", sans-serif;
}


.fondoprincipal{
    width: 950px;
    height: 550px;
}

.estilobridgerton{
    display: flex;
    justify-content: left;
    align-items: center;
}


/*Pagina LIBROS*/

.librostitulo{
    text-align: center;
}
.bodylibros{
    background-color: antiquewhite;
}

/*pagina contacto*/

.paginacontacto{
    background-color: antiquewhite;
}

.titulocontacto{
    color: #e328ba;
    font-family: "Montserrat", sans-serif;
}

/*logo instagram*/

.logoinsta{
    width: 50px;
    height: 50px;
}

/*logo netflix*/

.netflixlogo{
    width: 50px;
    height: 50px;
}

.h3{
    color: green;
}

.logoyoutube{
    width: 100px;
    height: 50px;
}

.enlaces{
    display: flex;
}

.argumento{
    background-color: antiquewhite
}

/*pagina temporadas*/

.bodytemporadas{
    background-color: antiquewhite;
}

.subtitulotemporadas{
    color: blueviolet;
    background-color: antiquewhite;
    text-align: center;
    text-decoration: underline;
}

.temporadasdelaserie {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax (200px,1fr));
    gap: 10px;
    background-color: antiquewhite;
    text-align: center;
}
.row .row-cols-2 .img{
    width: 100%;
    height: auto;
}

.navtemporadas{
    background-color: antiquewhite;
    text-align: center;
}

.titulotemporadas{
    color: #e328ba;
    text-align: center;
    text-decoration: underline;
    margin: 60px;
    padding: 60px;
    box-sizing: border-box;
    background-color: rgb(241, 219, 190);
    font-family: "Montserrat", sans-serif;
}

.temporada1 {
    width: 350px;
    height: 180px;
    border-radius: 50px;
    cursor: pointer;
}

.temporada2{
    width: 250px;
    height: 320px;
    border-radius: 50px;
    cursor: pointer;
}

.temporada3{
    width: 250px;
    height: 300px;
    border-radius: 50px;
    cursor: pointer;
}

.queencharlote{
    width: 250px;
    height: 300px;
    border-radius: 50px;
    cursor: pointer;
}

/*imagenes Personajes*/

.logolady{
    width: 250px;
    height: 250px;
}

.logoladydanbury{
    width: 250px;
    height: 250px;
}
.logoreina{
    width: 200px;
    height: 250px;
}
.logoantony{
    width: 220px;
    height: 250px;
}
.logopen{
    width: 220px;
    height: 250px;
}
.logoeloise{
    width: 200px;
    height: 200px;
}
.logodaphne{
    width: 200px;
    height: 200px;
}
.logosimon{
    width: 200px;
    height: 200px;
}
.logokat{
    width: 150px;
    height: 200px;
}
.logomarina{
    width: 200px;
    height: 200px;
}

.titulopersonajes{
    color: #e328ba;
    text-align: center;
    text-decoration: underline;
    background-color: antiquewhite;
}





